{% extends 'include/homepage.html' %}
{%load static%}
{%block content%}


	<!-- HEADER -->
	{% include 'include/header.html' %}
	<!-- HEADER END -->

	<!-- MAIN SLIDER -->
        <section id="demo-1" class="main-slider" data-zs-src='{{ setting_id.image.url }}'>
			<div class="main-slider-caption">
            	<div class="container">
            		<div class="row">
            			<div class="col-md-12">
            				<div class="top-title"><span>Добро пожаловать в </span>MISTER Coffee</div>
		                	<div class="big-title">{{ setting_id.title }}</div>
		                	<p>{{ setting_id.context }}</p>	
		                	<a href="#" class="btn btn-default">Читать далее</a>
            			</div>
            		</div>
            	</div>
            </div>
		</section>
		
    <!-- MAIN SLIDER END -->

	<!-- MAIN TOP PRODUCT -->
    <section class="top-prod-wrap">
		<div class="top-prod-types">
			<div class="container">
				<div class="row no-gutter">
					<div class="col-md-4">
						<div class="item first">
							<img src="{% static 'images/main_icon1.png' %}" width="150" height="150" alt="">
							<div class="name dark"><span>Натуральный </span> кофе</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item second">
							<img src="{% static 'images/main_icon2.png' %}" width="150" height="150" alt="">
							<div class="name"><span>
								Китайский </span> чай</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item third">
							<img src="{% static 'images/main_icon3.png' %}" width="150" height="150" alt="">
							<div class="name"><span>
								Сладкие </span> Десерты</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- MAIN TOP PRODUCT END -->
	
	<!-- MAIN ABOUT -->
	<section class="about-us">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="about-text">
						<h2>О <span>Нас</span></h2>
						<p>{{ setting_id.description_about }}</p>
						<ul class="about-slogan">
							{% for static in static_all %}
							<li>
								<div class="icon">
									{% if static.icon == "Бесплатная доставка" %}
									<i class="fa fa-coffee" aria-hidden="true"></i>
									{% endif %}
									{% if static.icon == "Высококачественный продукт" %}
									<i class="fa fa-plane" aria-hidden="true"></i>
									{% endif %}
									{% if static.icon == "100% натуральный кофе" %}
									<i class="fa fa-check-circle" aria-hidden="true"></i>
									{% endif %}
						</div>
								<div class="text">
									<div class="title">{{ static.title }}</div>
									<p>{{ static.context }}</p>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="about-img"><img src="{{ setting_id.image_about.url }}" alt=""></div>
				</div>
			</div>
		</div>
	</section>
	<!-- MAIN ABOUT END -->

	<!-- MAIN REASONS -->
	<section class="reasons parallax" style="background-image: url({% static 'images/parallax.jpg' %});">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2><span>{{ setting_id.title2 }}</span></h2>
				</div>
		
				{% for static in static %}
				<div class="col-md-3">
					<div class="item">
						<!-- Добавление стрелок -->
						<i class="fas fa-chevron-left"></i>
						<div class="count">{{ static.number }}</div>
						<div class="title">{{ static.title }}</div>
						<p class="text">{{ static.context }}</p>
						<!-- Добавление стрелок -->
						<i class="fas fa-chevron-right"></i>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		
	</section>
	<!-- MAIN REASONS END -->

	<!-- MAIN SHOP -->
	<section class="popular-item">
		<div class="container">
			<div class="row">
				<div class="col-md-12"><h2>{{ setting_id.title3 }}</h2></div>
				<div class="col-md-12">
					<div class="row owl-carousel shop-slider">
						{% for product in product_all %}  
						<div class="item" style="display: ;">
							<div class="img-wrap"><a href="#"><img src="{{ product.image.url }}" alt=""></a></div>
							<a href="#" class="name">{{ product.title  }}</a>
							<div class="text">{{ product.context }}</div>
							<div class="price">${{ product.price }}</div>
							<a class="btn btn-default"><i class="fa fa-shopping-cart" aria-hidden="true"> Добавить в корзинуч1 </i>{{ interesting.cart }}</a>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- MAIN SHOP END -->

	<!-- WHERE TO BUY -->
	<section class="where-buy">
		<div class="container">
			<div class="row">
				<div class="col-md-12"><h2>{{ setting_id.title4 }}</h2></div>
				<div class="col-md-12">
					<div class="tab-content">
						<!-- TabPanel -->
						<div role="tabpanel" class="tab-pane fade in active" id="usa">
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>481 Goodisson str. 60544 New York City - MisterCoffee</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>3 Big Avenue 1422 Seattle</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>481 Goodisson str. 17790-60544 Washington</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>3 Big Avenue 1422 Seattle</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>481 Goodisson str. 60544 New York City - MisterCoffee</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>481 Goodisson str. 17790-60544 Washington</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- TabPanel -->
						<div role="tabpanel" class="tab-pane fade" id="germany">
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>481 Goodisson str. 60544 New York City - MisterCoffee</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>3 Big Avenue 1422 Seattle</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>481 Goodisson str. 17790-60544 Washington</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>481 Goodisson str. 60544 New York City - MisterCoffee</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>3 Big Avenue 1422 Seattle</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>481 Goodisson str. 17790-60544 Washington</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- TabPanel -->
						<div role="tabpanel" class="tab-pane fade" id="france">
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>3 Big Avenue 1422 Seattle</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>481 Goodisson str. 60544 New York City - MisterCoffee</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>481 Goodisson str. 17790-60544 Washington</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>481 Goodisson str. 60544 New York City - MisterCoffee</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>3 Big Avenue 1422 Seattle</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>481 Goodisson str. 17790-60544 Washington</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- TabPanel -->
						<div role="tabpanel" class="tab-pane fade" id="italy">
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>481 Goodisson str. 60544 New York City - MisterCoffee</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>3 Big Avenue 1422 Seattle</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>481 Goodisson str. 17790-60544 Washington</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>481 Goodisson str. 60544 New York City - MisterCoffee</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>3 Big Avenue 1422 Seattle</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>481 Goodisson str. 17790-60544 Washington</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- TabPanel -->
						<div role="tabpanel" class="tab-pane fade" id="portugal">
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>481 Goodisson str. 60544 New York City - MisterCoffee</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>3 Big Avenue 1422 Seattle</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>481 Goodisson str. 17790-60544 Washington</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>481 Goodisson str. 60544 New York City - MisterCoffee</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>3 Big Avenue 1422 Seattle</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="buy-item">
										<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<div class="info">
											<address>481 Goodisson str. 17790-60544 Washington</address>	
											<div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>+80 (041) 2824 504 43</div>
											<a href="mailto:orders@mistercoffee.us" class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i>orders@mistercoffee.us</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- WHERE TO BUY END -->

	<!-- MAIN REVIEWS -->
	<!-- MAIN REVIEWS END -->

	<!-- MAIN BLOG -->
	<section class="main-blog">
		<div class="container">
			<div class="row">
				<div class="col-md-12"><h2>{{ setting_id.title6 }}</h2></div>
				{% for interesting in interesting %}
				 <div class="col-md-3 col-xs-12">
                    <div class="main-blog-item">
                        <div class="img-wrap" style="width: 100%; height: 200px ;"><a href="#"><img class="img-responsive" src="{{ interesting.image.url }}" alt=""></a></div>
                        <div class="info">
                            <a href="#" class="name">{{ interesting.title }}</a>
                            <p class="text">{{ interesting.descriptions }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
				<div class="col-md-12 text-center"><a href="{% url 'about' %}" class="btn btn-default all-blog">все новости</a></div>
			</div>
		</div>
	</section>
	<!-- FOOTER -->
	{% include 'include/footer.html' %}
	<!-- FOOTER END -->

{% endblock %}