{% extends 'include/homepage.html' %}
{%load static%}
{%block content%}
	<!-- TOP BAR -->
	{% include 'include/header.html' %}
	<!-- HEADER END -->

	<!-- PAGE HEAD -->
		<section class="page-head">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb">
							<li><a href="{% url 'index' %}">Главная</a></li>
							<li>Продукты</li>
						</ul>
						<h1>Продукты</h1>	
					</div>
				</div>
			</div>
		</section>
	<!-- PAGE HEAD END -->

	<!-- SHOP -->
	<div class="shop-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<aside class="shop-sidebar">
					    <div class="widget-area">
					        <ul>
					            <li class="widget-container woocommerce widget_shopping_cart">
					                <h3 class="widget-title">Shoping Cart</h3>
					                <div class="widget_shopping_cart_content">
					                    <ul class="cart_list product_list_widget ">
					                        <li class="mini_cart_item">
					                            <a href="#" class="remove" aria-label="Remove this item"><i class="fa fa-close" aria-hidden="true"></i></a>
					                            <a href="product.html" class="name">
					                                <img src="{% static 'images/cart-item-img.jpg' %}" alt="">Espresso Premium
				                                </a><br>
					                            <span class="quantity">1 × <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>46</span>
					                            </span>
					                        </li>
					                    </ul>
					                    <div class="sub-total"><strong>Subtotal:</strong> <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>46</span></div>
					                    <div class="total"><strong>Total:</strong> <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>46</span></div>
					                    <p class="buttons">
					                        <a href="cart.html" class="button">VIEV CART</a>
					                        <a href="checkout.html" class="button checkout">CHECKOUT</a> 
				                        </p>
					                </div>
					                <div class="clearfix"></div>
					            </li>
					            <li class="widget-container woocommerce widget_product_categories">
					                <h3 class="widget-title">Категория</h3>
					                <ul class="product-categories">
					                    <li class="cat-item">
					                    	<a href="#">Кофе</a>
					                    </li>
					                    <li class="cat-item">
					                    	<a href="#">Чай</a>
					                    </li>
					                    <li class="cat-item">
					                    	<a href="#">Десерты</a>
					                    </li>
					                </ul>
					                <div class="clearfix"></div>
					            </li>
					            <li class="widget-container woocommerce widget_price_filter">
					                <h3 class="widget-title">Искать товар по цене</h3>
					                <form>
					                    <div class="price_slider_wrapper">
					                        <div id="slider-range"></div>
					                        <div class="amount-wrap">
						                        <label>Цена:</label>
	  											<span id="amount"></span>
  											</div>
  											<button class="filter-btn">ИСКАТЬ</button>
					                    </div>
					                </form>
					                <div class="clearfix"></div>
					            </li>
					        </ul>
					    </div>
					</aside>
				</div>
				<div class="col-md-8">
					<div class="product-list">
						<div class="row">
							<div class="col-md-12">
								<div class="woocommerce-toolbar">
									<div class="row">
										<div class="col-md-8 col-sm-6">
											<div class="result">Показаны 1–10 из 12 результатов</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="product-item">
									<div class="img-wrap"><a href="product.html"><img src="{% static 'images/prod-img.jpg' %}" alt=""></a></div>
									<a href="product.html" class="name">100%  Arabica</a>
									<div class="text">Professional espresso serie</div>
									<div class="price">$19</div>
									<a href="#" class="btn btn-default"><i class="fa fa-shopping-cart" aria-hidden="true"></i>add to cart</a>
								</div>
							</div>
							<div class="col-md-6">
								<div class="product-item">
									<div class="img-wrap"><a href="product.html"><img src="{% static 'images/prod-img1.jpg' %}" alt=""></a></div>
									<a href="product.html" class="name">Espresso Premium</a>
									<div class="text">Professional espresso serie</div>
									<div class="price">$46</div>
									<a href="#" class="btn btn-default"><i class="fa fa-shopping-cart" aria-hidden="true"></i>add to cart</a>
								</div>
							</div>
							<div class="col-md-6">
								<div class="product-item">
									<div class="img-wrap"><a href="product.html"><img src="{% static 'images/prod-img.jpg' %}" alt=""></a></div>
									<a href="product.html" class="name">100%  Arabica</a>
									<div class="text">Professional espresso serie</div>
									<div class="price">$19</div>
									<a href="#" class="btn btn-default"><i class="fa fa-shopping-cart" aria-hidden="true"></i>add to cart</a>
								</div>
							</div>
							<div class="col-md-6">
								<div class="product-item">
									<div class="img-wrap"><a href="product.html"><img src="{% static 'images/prod-img1.jpg' %}" alt=""></a></div>
									<a href="product.html" class="name">Espresso Premium</a>
									<div class="text">Professional espresso serie</div>
									<div class="price">$46</div>
									<a href="#" class="btn btn-default"><i class="fa fa-shopping-cart" aria-hidden="true"></i>add to cart</a>
								</div>
							</div>
							<div class="col-md-12">
								<div class="paging-navigation">
								    <hr>
								    <div class="pagination">
								        <a href="#" class="prev disabled"><i class="fa fa-chevron-left" aria-hidden="true"></i> Предедущий</a>
								        <a href="#" class="page-numbers current">1</a>
								        <a href="#" class="page-numbers">2</a>
								        <a href="#" class="page-numbers">3</a>
								        <a href="#" class="page-numbers">4</a>
								        <a href="#" class="next">Следующий<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
								    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- SHOP END -->

	<!-- SUBSCRIBE FORM -->

	{% include 'include/footer.html' %}
	<!-- FOOTER END -->

<!-- JAVASCRIPT FILES -->
{% endblock %}